<h1>Welcome To Activity Planner!</h1>

<%= link_to 'Log In', "/login"%>
<%= link_to 'Sign Up', "/signup"%>


<%# 
<img src="https://cdn.pixabay.com/photo/2017/12/16/17/39/fun-3023031_960_720.jpg"> %>
