<%= display_index_header%>

<ul>
<% @events.order(:date).each do |event| %>
<li> <%=link_to event.name, event_path(event) %><br>
    <%=event.date%> <br>
    <%=event.location.name%> <br><br></li>
    <%end%>
</ul>