<h1>Locations</h1>
<br>
<button id="location_sorter">Sort Locations</button>



<br>
<br>
<h3>Create A New Location:</h3>
<form id="super_location_form">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<label for="name">Name</label>
<input type='text' name = "location[name]" id="location_name">
<br>
<label for="address">Address</label>
<input type='text' name = "location[address]" id="location_address">
<button type='submit'>Submit</button>
</form>
<br>
<br>
<br>
  <%# <button id="new-location-button">New Location</button> %>

   <div id="location-form-placeholder"></div>
<div id=main>
<ul>
<% @locations.each do |location|%>
 <li><h4><%= link_to location.name.titleize, location_path(location) %> </h4>
 <%=location.address.titleize%>
 <%end%></li>
 <ul>
</div>
<%# <div id='new-locations'>placeholder</div>
<br><br>
<button id='ajax-new-location'> NEW LOCATION </button>
<div id='new-location-form-div'> </div> %>
<%# <div id="new-locations">
<%= link_to 'New Location', new_location_path %>
<%# </div> %>



<script>

const locationForm = document.getElementById('super_location_form');

locationForm.addEventListener('submit', (e) => {
  e.preventDefault()
  
  const formData = new FormData(locationForm);

  fetch( "locations.json",{
    method: 'POST',
    body: formData
  }).then(function (response) {
    return response.json();
  }).then(function (text){
     const locationText = new Location(text)
     const newLocationText = locationText.newLocationHTML()
     const mainContainer = document.querySelector("#location-form-placeholder")
     const z = document.createElement('div');
     z.innerHTML = newLocationText;
     mainContainer.appendChild(z);
     document.querySelector("#super_location_form").reset()
  }).catch( function (error) {
    console.error(error);
  })

})


class Location {
  constructor(obj) {
    console.log(obj)
    this.id = obj.id
    this.name = obj.name,
    this.address = obj.address 
  }
}

Location.prototype.newLocationHTML = function () {
  return (`
  <div class='location'>
  <ul>
  <li> <strong> <h4> <a href="locations/${this.id}">${this.name}</a></h4></strong>
  <br>
  ${this.address}</li>
  </ul>
  </div>
  `)
}

const locationSorter = document.getElementById('location_sorter');
locationSorter.addEventListener('click', (e) => {
  const mainContainer = document.querySelector("#location-form-placeholder")
  if (mainContainer.innerHTML === ""){
  locationSorting()
  } else {
    document.getElementById('location-form-placeholder').innerHTML = ""
  }
})

function locationSorting() {
  $.ajax({
    url:"/locations",
    method: 'GET',
    dataType: 'json',
    success: function (data) {
      data.sort(function(a, b) {
        var nameA = a.name.toUpperCase(); // ignore upper and lowercase
        var nameB = b.name.toUpperCase(); // ignore upper and lowercase
        if (nameA < nameB) {
          return -1;
        }
        if (nameA > nameB) {
          return 1;
        }

        // names must be equal
        return 0;
      });
       const array = data.map( dat => dat.name)
        // console.log(array)
        for (const element of array) {
        const z = document.createElement('div')
        z.innerHTML = element;
        document.querySelector("#location-form-placeholder").appendChild(z);
        }
    }
  })
}

</script>

