<h1>Locations</h1>
<ul>
<% @locations.each do |location|%>
 <li><h4><%= link_to location.name.titleize, location_path(location) %> </h4>
 <%=location.address.titleize%>
 <%end%></li>
 <ul>

<br><br>
<button id='ajax-new-location'> NEW LOCATION </button>
<div id='new-location-form-div'> </div>