<h1>Locations</h1>
<div id=main>
<ul>
<% @locations.each do |location|%>
 <li><h4><%= link_to location.name.titleize, location_path(location) %> </h4>
 <%=location.address.titleize%>
 <%end%></li>
 <ul>
</div>
<%# <div id='new-locations'>placeholder</div>
<br><br>
<button id='ajax-new-location'> NEW LOCATION </button>
<div id='new-location-form-div'> </div> %>