<div id=js-location-info></div>
<h2>New Location Form:</h2>
<h3><%= render partial: "layouts/errors", locals: { object: @location } %></h3>
<%= render "form" %>
<%# <%= javascript_include_tag "/app/javascript/locationForm_channel.js" %>